hr{
   padding-top: 4vh;
   border-color: black;
   opacity: 0.3;
}

.reg-form{
  font-family: 'Raleway';
  background-color: white;
}

.control-label{
  color: black;
}

form .login{
  color: white;
}

.searchalumni{
  font-family: 'Raleway';
  background-color: white;
  min-height: 300px;
}

.btn{
  color: black;
}

#homewrapper{
	padding-left: 8vh;
}

.home-main-row{
  height: auto;
}

#deanimage{
	height: 36vh;
	width: 100%;
	margin: 0 auto;
}

.imagedescription{
	background-color: white;
	height: 36vh;
}

.imagecontainer{
   margin-left: 30vh;
}

.messagefromdeancontent{
	margin-top: 6vh;
	margin-bottom: 6vh;
}

.textcontainer{
	font-family: 'Raleway';
	background-color: white;
	margin-left: 20px;
	padding: 10px;
	min-height: 300px;	
}

.imagetext{
	font-size: 2vh;
	font-family: 'Raleway';
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.font{
  font-family: 'Raleway';
}

#mainheader{
   font-size: 3.2vh;
   margin-top: 4vh;
   margin-bottom: 2vh;
   border-bottom: 0.2px solid blue;
}

#aims-wrap{
   background-color: white;
   margin-top: 4vh;
   margin-bottom: 4vh;
}

#email{
	font-weight: 600;
}

#phone{
	font-weight: 600;
}

.imagewrapper{
   margin-bottom: 4vh;
}

.messagewrapper{
	background-color: white;
	padding-bottom: 4vh;
}

.team{
	margin-top: 30px;
	margin-bottom: 30px;
}

.team-text{
	height: 30vh;
	background-color: #fff;
}

.team-image{
	width: 100%;
	height: 30vh;
}

.shadow{
	box-shadow: -8px 4px 8px 0 rgba(0, 0, 0, 0.4), -4px 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.font-weight-600{
	font-weight: 600;
}

.first-card{
	width: 18%;
}

.middle-card{
	margin-left: 3vh;
	margin-right: 3vh;
	width: 57%;
}

.last-card{
	width: 18%;
}

.card-header{
	padding-top: 2vh;
	padding-bottom: 2vh;
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 16px;
}

.event-row{
	background-color: #fff;
}

.links-row{
	margin-top: 3vh;
	background-color: #fff;
}

.login-row{
  background-color: #fff;
  padding: 1vh 1vh 1vh 1vh;
}

.quote-row{
  margin-top: 3vh;
  padding: 1vh 1vh 1vh 1vh;
  background-color: white;    
}

.event-list{
	padding-left: 0;
	list-style-type: none;
}

.links-text{
  font-family: 'Raleway';
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.event-text{
	padding-top: 2vh;
	padding-bottom: 8vh;
	font-family: 'Raleway';
}

.event-date{
	padding-bottom: 1vh;
	border-bottom: 0.5px solid rgba(0,0,255,0.5);
	font-size: 10px;
	font-weight: bold;
}

.view-link{
	text-decoration: none;
}

.view-all{
    color: rgba(0,0,255,0.7);
    font-family: 'Raleway';
}

.form-wrapper{
	margin-left: 150px;
}

.text-left{
	text-align: left;
}

.dob{
	line-height: 33.99px;
}

.search-text{
   line-height: 33px;
}

.carousel-inner>.item>img{
	width: 100%;
	height: 73.3vh;
}

#myCarousel>.carousel-inner{
	box-shadow: -8px 4px 8px 0 rgba(0, 0, 0, 0.4), -4px 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.carousel-inner>.item>.row>.col-md-4>img{
	box-shadow: -8px 4px 8px 0 rgba(0, 0, 0, 0.4), -4px 6px 20px 0 rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 40vh;
}

#newreg{
	display: inline-block;
}

.welcome-wrap{
	margin-top: 4vh;
}

#objectives {
  z-index: 0;
  position: relative;
  padding-top: 4vh;
  padding-bottom: 4vh;
  min-height: 400px;
  text-align: center;
  background-color: white;
}

.welcome-bg{
  position: absolute;
  z-index: -1;
  background-image: url("../img/blue-logo.png");
  width: 100%;
  height: 360px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.2;
}

.welcome-text-wrap{
   position: absolute;
   top:4%;
   font-family: 'Raleway';
}

.notable-alumni-wrap{
  width: 98%;
  background-color: white;
  margin-top: 4vh;
  padding-bottom: 4vh;
}

.notable-img{
  position: absolute;
  right: 5%;
  top: 4%;
  height: 100px;
  width: 100px;
}

.parallax-text{
   font-size: 24px;	
   font-family: 'Raleway';
   color: black;
}

.event-description{
  background-color: #fff;
  padding: 2vh 2vh 2vh 2vh;
  font-family: 'Raleway'; 
}

.btw-first{
  position: relative;
  margin-top: 4vh;
}

.btw-second{
  position: relative;
  margin-top: 4vh;
}

.btw-third{
  position: relative;
  margin-top: 4vh;
}

.btw-fourth{
  position: relative;
  margin-top: 4vh;
}

.btw-fifth{
  position: relative;
  margin-top: 4vh;
}

.btw-sixth{
  position: relative;
  margin-top: 4vh;
}

.btw-seventh{
  position: relative;
  margin-top: 4vh;
}

.btw-image{
   height: 150px;
   padding: 0;
}

.btw-text{
  background-color: #fff;
  font-family: 'Raleway';
  width: 81.3%;
  margin-left: 2%;
  height: 150px;
}

.read-more{
  position: absolute;
  right: 2%;
  bottom: 2%;
  color: blue;
  font-family: 'Raleway';
  font-size: 14px;
  text-decoration: none;
}

.modal-title{
  font-family: 'Raleway';
  font-weight: 500;
}

.modal-body{
  font-family: 'Raleway';
}

blockquote{
  display:block;
  background: #fff;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 14px;
  line-height: 1.2;
  color: #666;
  text-align: justify;
  
  /*Borders - (Optional)*/
  border-left: 15px solid #00274d;
  border-right: 2px solid #00274d;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: Georgia, serif;
  font-size: 40px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

.parallax {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:7vh; 
}
input 				{
  font-size:12px;
  padding:2vh 2vh 2vh 1vh;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#a9a9a9; 
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:12px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:80%px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  left: 0;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:25%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:0%; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}


/*Image Gallery*/
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 35vh;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    background-color: white;
}