#overlay{
	z-index: 1000;
	position: fixed;
	width: 100%;
    height: 100%;
    background-color:#eee;
    visibility: hidden;
}

#loader{
	position: absolute;
	top:45%;
	left: 45%;
}
	
.header{
	background-color: #eee;
	color:black;	
}

body{
	background-color: #eee;
}

.header-text{
	padding-top: 1vh;
	padding-bottom: 1vh;
}

.primary-header-text{
	padding-right: 0;
	font-family: 'Acme', sans-serif;
}

.primary-text{
	margin-top: 10px;
}

.secondary-text{
	margin-top: 10px;
	text-align: center;
	border-right: 1px solid black;
	border-left: 1px solid black;
}

.secondary-header-text{
	font-family: 'Acme', sans-serif;
}

.logo{
	margin-left: 15vh;
	height: 6%;	
	width: 6%;
}

.social-icons{
	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 0;
	padding-right: 0;
	height: 100%;
	width: 10%;
}

.social-icons>a{
	height: 100%;
	display: inline-block;
	padding-top: 1vh;
	padding-bottom: 1vh;
	text-decoration: none;
}

.social-icons>a>i{
	font-size: 16px;
	margin-right: 2vh;
	margin-left: 2vh;
	color: black;
}

.social-icons>a:hover {
	background-color: #00274d;
}

.social-icons>a:hover .icons{
	color: white;
}

.navbar{
	box-shadow: -8px 4px 8px 0 rgba(0, 0, 0, 0.4), -4px 6px 20px 0 rgba(0, 0, 0, 0.4);
	margin-bottom: 0px;
	background-color: #00274d;
}

.navbar-header{
	padding-left: 10px;
}

.no-top-bottom-margin{
	margin-top: 0px;
	margin-bottom: 0px;
}

.dropdown-menu {     
	background-color: black;  
}

.navbar-inverse .navbar-nav > li > a{
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover{
	color: #ccc;
}

.navbar-nav > li > .dropdown-menu a{   
	color: #9d9d9d;  
}

.navbar-nav > li > .dropdown-menu a:hover{   
	background-color:black;
	color: white;  
}

.nav-wrapper{
	min-height: 50px;
}

.no-left-right-padding{
	padding-left: 30px;
	padding-right: 0px;
}

.content{
	position: relative;
}

.main-content{
	border-radius: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.foot{
	background-color: black;
	color:white;
	line-height: 40px;
	min-height: 40px;
	max-height: 40px;
	font-family: 'Acme', sans-serif;
}

.bottom-nav{
	background-color: #00274d;
	height: 8vh;
}

.bot-nav{
	display: block;
	color: white;
	text-decoration: none;
	margin: 2vh 2vh 2vh 2vh;
}

.bot-nav:hover{
	color: #9d9d9d;
	text-decoration: none;
}

.affix{
	position: fixed;
	top:0;
	width: 97.8%;
	z-index: 1000;
}

#fillable{
	margin-top:4vh;
	margin-bottom: 4vh;
}